.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    font-size: 1.2em;
}
.form-private {
    display: flex;
    flex-direction: row;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 0 0.2em 0.2em 0.2em;
    margin: 0 0.5em 0.5em 0.5em;
}
input:hover, .validate:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .form-save {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
.input-wrapper.dept-dropdown {
    box-sizing: border-box;
    width: 31.8em;
    margin: 1.5em 0 1.5em 0;
}
label {
    text-align: left;
    padding: 0;
    margin: 0 0 0.3em 0.3em;
}
.dept-label {
    text-align: center;
}
input {
    box-sizing: border-box;
    height: 40px;
    padding: 0.2em;
    text-align: left;
    font-size: 1.1em;
    border: none;
}

.bg-home-image {
    position: absolute;
    bottom: -10px;;
    left: -10px;;
    width: 30%;
}
.validate {
    width: 15em;
    height: 40px;
    text-decoration: none;
    border: none;
    font-size: 1.2em;
    background-color: #ffffff;
}
.error-message {
    color: red;
    font-size: 1.2em;
}